    <!-- begin:social -->
    <div class="social" style="background-image: url('img/img01.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="social-text">
              <div class="page-title">
                <h2 class="text-capitalize">Don't miss my activities. <small>find me here</small></h2>
              </div>
              
              <ul class="list-inline social-icon">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/grachiemua/" target ="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- break -->

        <div class="row">
          <div class="footer">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="footer-box">
                <h3>Call Me</h3>
                <p>+63-917-554-6160</p>
                <p>My availability is flexible.</p>
                <span class="footer-icon"> <i class="fa fa-phone"></i></span>
              </div>
            </div>
            <!-- break -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="footer-box">
                <h3>Email</h3>
                <p>grachie_claudio@yahoo.com</p>
                <p>Or just fill the form above</p>
                <span class="footer-icon"> <i class="fa fa-envelope"></i></span>
              </div>
            </div>
            <!-- break -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="footer-box">
                <h3>Address</h3>
                <p>BF Homes, Paranaque.</p>
                <p>Please don't hesitate to contact me.</p>
                <span class="footer-icon"> <i class="fa fa-map-marker"></i></span>
              </div>
            </div>
          </div>
        </div>
        <!-- break -->

        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <p>Copyright &copy 2014. GCMUA All Right Reserved.</p>
              <a class="btn btn-jessica menus text-center btn-totop" href="#page-home"><i class="fa fa-angle-up"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:social -->
